---
import { Image } from "astro:assets";

import Gulp from "../assets/Gulp.png"
import Git from "../assets/Git.png"
import Java from "../assets/java.png"
import JS from "../assets/JavaScript-logo.png"
import React from "../assets/react.png"
import Mysql from "../assets/mysql.png"
import Mongo from "../assets/mongodb.png"
import Oracle from "../assets/oracle.png"
import Bash from "../assets/bash.png"
import Boostrap from "../assets/bootstrap.png"
import Python from "../assets/python.png"
import Linux from "../assets/linux.png"
import Node from "../assets/node.png"
import Php from "../assets/php.png"
import Sass from "../assets/sass.png"
import Css from "../assets/CSS.png"
import html from "../assets/html5.png"
import tailwind from "../assets/Tailwind CSS.png"
import scrum from "../assets/scrum.png"
import github from "../assets/github-logo.png"
import AstroDark from "../assets/astro-icon-dark.svg"
---          
<div class="flex flex-col md:flex-row justify-center items-center gap-6 my-5">
    <div class="flex flex-col items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40  max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
        <Image class="w-24 h-24 my-5" src={html} alt="logo html"/>
        <p class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Html5</p>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
    <Image class="w-24 h-24 my-5" src={Css} alt="logo Css"/>
    <p class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Css 3</p>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
    <Image class="w-24 h-24 my-5" src={JS} alt="logo Java Script"/>
    <p class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Java Script</p>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
    <Image class="w-24 h-24 my-5" src={React} alt="logo React"/>
    <p class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> React</p>       
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
        <svg class="w-24 h-24 my-5 fill-black" viewBox="0 0 85 107" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M27.5893 91.1365C22.7555 86.7178 21.3443 77.4335 23.3583 70.7072C26.8503 74.948 31.6888 76.2914 36.7005 77.0497C44.4374 78.2199 52.0358 77.7822 59.2231 74.2459C60.0453 73.841 60.8052 73.3027 61.7036 72.7574C62.378 74.714 62.5535 76.6892 62.3179 78.6996C61.7452 83.5957 59.3086 87.3778 55.4332 90.2448C53.8835 91.3916 52.2437 92.4167 50.6432 93.4979C45.7262 96.8213 44.3959 100.718 46.2435 106.386C46.2874 106.525 46.3267 106.663 46.426 107C43.9155 105.876 42.0817 104.24 40.6844 102.089C39.2086 99.8193 38.5065 97.3081 38.4696 94.5909C38.4511 93.2686 38.4511 91.9345 38.2733 90.6309C37.8391 87.4527 36.3471 86.0297 33.5364 85.9478C30.6518 85.8636 28.37 87.6469 27.7649 90.4554C27.7187 90.6707 27.6517 90.8837 27.5847 91.1341L27.5893 91.1365Z" fill="#e63baa"/>
        <path d="M0 69.5866C0 69.5866 14.3139 62.6137 28.6678 62.6137L39.4901 29.1204C39.8953 27.5007 41.0783 26.3999 42.4139 26.3999C43.7495 26.3999 44.9325 27.5007 45.3377 29.1204L56.1601 62.6137C73.1601 62.6137 84.8278 69.5866 84.8278 69.5866C84.8278 69.5866 60.5145 3.35233 60.467 3.21944C59.7692 1.2612 58.5911 0 57.0029 0H27.8274C26.2392 0 25.1087 1.2612 24.3634 3.21944C24.3108 3.34983 0 69.5866 0 69.5866Z" fill="#000000"/>
        </svg>
        <p class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Astro</p>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
            <Image class="w-24 h-24 my-5" src={Boostrap} alt="logo Bootstrap"/>
            <p class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Bootstrap</p>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
            <Image class="w-24 h-24 my-5" src={tailwind} alt="logo TailwindCss"/>
            <p class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Tailwind Css</p>
    </div>
</div>
<!-- Segunda columna -->
<div class="flex flex-col md:flex-row items-center justify-center gap-6 my-5" >

    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
        <Image class="w-24 h-24 my-5" src={Sass} alt="logo Sass"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Sass</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
            <Image class="w-20 h-24 my-5" src={Gulp} alt="logo Gulp"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Gulp</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
            <Image class="w-24 h-24 my-5" src={Git} alt="logo Git"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Git</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
            <Image class="w-24 h-24 my-5" src={github} alt="logo Git-Hub"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Git-Hub</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
            <Image class="w-40 h-24 my-5" src={Node} alt="logo node"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Node Js</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
            <Image class="w-24 h-24 my-5" src={Java} alt="logo Java"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Java</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
            <Image class="w-24 h-24 my-5" src={Python} alt="logo Python"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Python</h5>
    </div>

</div>

<!-- tercera columna -->

<div class="flex flex-col md:flex-row items-center justify-center gap-6 my-5">

    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
        <Image class="w-24 h-20 my-5" src={Php} alt="logo PHP"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> PHP</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
            <Image class="w-20 h-20 my-5" src={Mysql} alt="logo Mysql"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Mysql</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
            <Image class="w-20 h-24 my-5" src={Mongo} alt="logo Mongo DB"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Mongo DB</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
            <Image class="w-32 h-24 my-5" src={Oracle} alt="logo Oracle"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Oracle</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
    <Image class="w-28 h-24 my-5" src={Linux} alt="logo Linux"/>
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Linux</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
    <Image class="w-28 h-24 my-5" src={Bash} alt="logo Bash"/>
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Bash</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-80  md:w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-800 ">
    <Image class="w-28 h-24 my-5" src={scrum} alt="logo Scrum"/>
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Scrum</h5>
    </div>

</div>

