---
import { Image } from "astro:assets";

import Gulp from "../assets/Gulp.png"
import Git from "../assets/Git.png"
import Java from "../assets/java.png"
import JS from "../assets/JavaScript-logo.png"
import React from "../assets/react.png"
import Mysql from "../assets/mysql.png"
import Mongo from "../assets/mongodb.png"
import Oracle from "../assets/oracle.png"
import Bash from "../assets/bash.png"
import Boostrap from "../assets/bootstrap.png"
import Python from "../assets/python.png"
import Linux from "../assets/linux.png"
import Node from "../assets/node.png"
import Php from "../assets/php.png"
import Sass from "../assets/sass.png"
import astro from "../assets/astrolight.png"
import Css from "../assets/CSS.png"
import html from "../assets/html5.png"
import tailwind from "../assets/Tailwind CSS.png"
import scrum from "../assets/scrum.png"
import github from "../assets/github-logo.png"
---          
<div class="flex justify-center gap-6 my-5">
    <div class="flex flex-col items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200  w-40  max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
        <Image class="w-24 h-24 my-5" src={html} alt="logo html"/>
        <p class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Html5</p>
    </div>

    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
    <Image class="w-24 h-24 my-5" src={Css} alt="logo Css"/>
    <p class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Css 3</p>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
    <Image class="w-24 h-24 my-5" src={JS} alt="logo Java Script"/>
    <p class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Java Script</p>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200  w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
    <Image class="w-24 h-24 my-5" src={React} alt="logo React"/>
    <p class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> React</p>       
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
            <Image class="w-24 h-24 my-5" src={astro} alt="logo Astro"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Astro</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
            <Image class="w-24 h-24 my-5" src={Boostrap} alt="logo Bootstrap"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Bootstrap</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
            <Image class="w-24 h-20 my-5" src={tailwind} alt="logo TailwindCss"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Tailwind Css</h5>
    </div>
</div>
<!-- Segunda columna -->
<div class="flex justify-center gap-6 my-5" >

    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
        <Image class="w-24 h-24 my-5" src={Sass} alt="logo Sass"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Sass</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
            <Image class="w-20 h-24 my-5" src={Gulp} alt="logo Gulp"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Gulp</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
            <Image class="w-24 h-24 my-5" src={Git} alt="logo Git"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Git</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
            <Image class="w-24 h-24 my-5" src={github} alt="logo Git-Hub"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Git-Hub</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
            <Image class="w-40 h-24 my-5" src={Node} alt="logo node"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Node Js</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
            <Image class="w-24 h-24 my-5" src={Java} alt="logo Java"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Java</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
            <Image class="w-24 h-24 my-5" src={Python} alt="logo Python"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Python</h5>
    </div>

</div>

<!-- tercera columna -->

<div class="flex justify-center gap-6 my-5">

    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
        <Image class="w-24 h-20 my-5" src={Php} alt="logo PHP"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> PHP</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
            <Image class="w-20 h-20 my-5" src={Mysql} alt="logo Mysql"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Mysql</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
            <Image class="w-20 h-24 my-5" src={Mongo} alt="logo Mongo DB"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Mongo DB</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
            <Image class="w-32 h-24 my-5" src={Oracle} alt="logo Oracle"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Oracle</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
    <Image class="w-28 h-24 my-5" src={Linux} alt="logo Linux"/>
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Linux</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
    <Image class="w-28 h-24 my-5" src={Bash} alt="logo Bash"/>
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Bash</h5>
    </div>
    <div class="flex flex-col  items-center rounded-xl  hover:shadow-xl hover:transform hover:scale-110 duration-200 pb-10 w-40 max-w-sm  bg-white border border-gray-200  shadow dark:bg-gray-900 dark:border-gray-700 ">
    <Image class="w-28 h-24 my-5" src={scrum} alt="logo Scrum"/>
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"> Scrum</h5>
    </div>

</div>

